body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    display: flex;
}
.header>ul{
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: space-between;
    align-items: self-end;
}
.header> ul>li{
    flex: 1;
}

a{
    text-decoration: none;
}
