body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body>div{
    flex: 1;
    padding: 0 20px;
}

/* HEADER CLASS*/
.header{
    display: flex;
    background-color: #1f2937;
}
.header>ul{
    display: flex;
    gap: 2em;
    list-style: none;
    margin-left: auto;
}
.header> ul>li{
    flex: 1;
}
.header>a{
    padding: 10px;
    text-decoration: underline;
    font-size: 1.5em;
    color: #f9faf8;
}
.header> ul> li> a{
    text-decoration: none;
    font-size: 1.125em;
    color: #e5e7eb;
}


/* CONTENT CLASS */
.content{
    background-color: #1f2937;
    padding: 50px 0;
}
.content h1{
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900px;
}
.content p{
    font-size: 18px;
    color: #e5e7eb;
}
.content ul{
    display: flex;
}
.content ul>*{
    flex: 1;
    list-style: none;
}

/* INFO CLASS */
.info{
    display: flex;
    flex-direction: column;
}
.info ul{
    flex: 1;
    display: flex;
}
.info h3{
    flex: 1;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900px;
    text-align: center;
}
.info li{
    list-style: none;
    flex: 1;
    justify-items: center;
}
.info>ul>li>div{
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 20px;
}
.info>ul>li>div:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.info>ul>li>div>h3{
    padding: 20px;
}
.info>ul>li>div>h3>a{
    text-decoration: none;
    color:#1f2937;
}

.info>ul>li>p{
    font-size: 18px;
}